#classic {
    /* margin: 25% auto; */
    padding: 1em 1em 0 1em;
    font-weight: 500;
    text-align: justify;
  }
  
  #modern {
    background-color: #FED700;
    padding: 1em 1em 0 1em;
    text-align: center;
    font-family: Arial;
  }
  
  #impact {
    background-color: #90EE90;
    border: 15px double black;
    padding: 1em 1.3em 0 1.3em;
    text-align: center;
    font-family: Arial;
  }
  
  #elise {
    box-shadow: 2px 2px 8px silver;
    border: 6px groove antiquewhite;
    background-color: floralwhite;
    padding: 1em 1em 0em 1em;
    font-family: cursive;
    text-align: center;
  }
  
  #one, #two  {
    display: inline-block;
    background-color: aquamarine;
    border: .5em ridge darkturquoise;
    padding: 1em;
    text-align: center;
    font-family: Arial;
    margin-left: 2vw;
  }
  
  #gaudi {
    border: 0px curved black;
    border-radius: 5% 20%;
    box-shadow: 2px 2px 10px black;
    padding: 1em;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 2px 2px 4px dimgrey;
    background-color: lightsalmon;
    font-family: 'Yusei Magic', sans-serif;

  }
  
  
  
  
  
 
  
  